*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 28px;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0 0 2em;
	background-color: #000;
	color: #fff;
	font-family: 'Work Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	line-height: 1.7;
}

a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: color 0.2s ease-out, border 0.2s ease-out;
	-o-transition: color 0.2s ease-out, border 0.2s ease-out;
	transition: color 0.2s ease-out, border 0.2s ease-out;
	border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
}

a:hover,
a:active,
a:focus {
	color: #fff;
	text-decoration: none;
	border-bottom-color: #ff0000;
}

::-moz-selection {
	background: #ff0000;
}

::selection {
	background: #ff0000;
}

h1,
h2,
h3,
h4 {
	font-weight: 400;
	margin-bottom: 0.4em;
	line-height: 1.1;
}

.container {
	max-width: 43.9285714rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
}

.row {
	padding-top: 1em;
	padding-bottom: 1em;
}

.btn {
	padding: 0.9em 1.25em;
	border: 2px dashed rgba(255, 255, 255, 0.15);
	-webkit-transition: border 0.2s ease-out;
	-o-transition: border 0.2s ease-out;
	transition: border 0.2s ease-out;
	display: inline-block;
	vertical-align: middle;
}

.btn:hover,
.btn:active,
.btn:focus {
	border-color: #ff0000;
}

.logo {
	right: 0;
	padding: 0;
	position: absolute;
	text-align: right;
	top: 0;
	max-width: 100%;
	width: 360px;
}

.header {
	background-color: #ff0000;
	padding-top: 2em;
	padding-bottom: 2em;
}

.header ::-moz-selection {
	background: #000;
	color: #fff;
}

.header ::selection {
	background: #000;
	color: #fff;
}

h1 {
	font-size: 6em;
	font-weight: 700;
	text-transform: lowercase;
	letter-spacing: -0.05em;
	margin-left: -0.08em;
	line-height: 1;
}

h2 {
	font-size: 1.4em;
	font-weight: 700;
}

p {
	line-height: 1.8;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	max-width: 30em;
}

p + ul {
	margin-top: -0.75em;
}

.heading {
	text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-webkit-transition: text-shadow 2s ease;
	-o-transition: text-shadow 2s ease;
	transition: text-shadow 2s ease;
}

.heading:hover,
.heading:focus,
.heading:hover:focus {
	text-shadow: 0.04em 0.04em 0 #ff0000, 0.125em 0.125em 0 #000;
}

.subheading {
	line-height: 1.6;
}

.cta {
	margin-top: 4em;
}

small,
.small {
	font-size: 0.7rem;
}

hr {
	border: 0px;
	border-top: 2px dashed rgba(255, 255, 255, 0.1);
	margin: 2em 0;
}

.section + .section,
.section + .footer {
	margin-top: 1em;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.events-list {
	padding-bottom: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -1%;
	margin-right: -1%;
}

.events-list article {
	padding: 1em;
	margin: 0.5em 1%;
	border: 2px dashed rgba(255, 255, 255, 0.1);
	line-height: 1.4;
	-ms-flex-preferred-size: 0;
    flex-basis: 0 0 31.333%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 31.333%;
}

.events-list article span {
	display: block;
}

.events-list article span + span {
	margin-top: 0.5em;
}

.events-upcoming article:first-child {
	border-color: red;
	padding-top: 0.625em;
}

.events-upcoming article:first-child:before {
	content: 'See you soon!';
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.075);
	padding: 0.5em;
	margin-bottom: 0.9em;
	font-size: 0.5em;
	font-weight: bold;
	letter-spacing: 0.15em;
	line-height: 1;
	display: inline-block;
}

.events-list .date {
	font-weight: bold;
}

.events-list .summary {
	font-size: 1.6em;
	line-height: 1.1;
	margin-bottom: 0.25em;
}

.events-list .location {
	font-size: 0.8em;
}

.events-past {
	font-size: 0.8em;
}

@media screen and (max-width: 960px) {
	html {
		font-size: 18px;
	}

	.header {
		padding-top: 120px;
	}
}

@media screen and (max-width: 700px) {
	html {
		font-size: 16px;
	}

	.heading {
		font-size: 3.8em;
	}

	.event-details > li {
		width: 100%;
		display: block;
		margin-bottom: 1.5em;
		margin-right: 0;
	}

	a {
		padding-bottom: 0.15em;
	}

	a, .btn {
		border-width: 1px;
	}

	.btn.rsvp {
		display: block;
		width: 100%;
		margin-top: 2em;
		margin-bottom: 4em;
		float: none;
		text-align: center;
		padding: 1em 0;
	}

	.events-list {
		padding-bottom: 1em;
		display: block;
	}

	.events-list article {
		max-width: 100%;
		flex-basis: 0;
	}
}